* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--fc);
  font-family: var(--fontBody);
}

:root {
  --background: black;
  --fc: rgb(196, 196, 196);
  --fontBody: "STIX Two Text", serif;
  --fontNerd: "Fira Code", monospace;
}

body,
html {
  background-color: var(--background);
  position: relative;
}
body {
  /* padding: 1rem; */
  height: 100vh;
  /* display: flex; */
  /* justify-content: space-between; */
}
b{
  font-family: var(--fontNerd);
}
button {
  border: none;
  background-color: none;
  outline: none !important;
  background-color: transparent;
}

/* nav */
.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid rgb(51, 51, 110);

  background-color: black;
  /* backdrop-filter: blur(2px); */
  /* position: fixed;
  top: 0;
  left: 0;
  height: 100%; */
  /* border: 1px solid red; */
  /* height: 100vh; */
  padding: 1rem 1rem;
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
.nav > .main {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.nav > .main > div.options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* flex-direction: column; */
}
.nav > .main > div.options > a {
  /* color: aqua; */
  /* color: #5b5f97; */
  color: #6d5dfc;
  /* color: rgb(144, 121, 189); */
  cursor: pointer;
  font-weight: bold;
  font-family: var(--fontNerd);
  text-transform: capitalize;
  /* font-variant: small-caps; */
  font-size: 1rem;
}
.nav > .main > div.options > a:hover {
  text-decoration: underline;
}

.nav > .main > span,
.nav > span {
  font-weight: bold;
  cursor: pointer;
  font-family: var(--fontNerd) !important;
}
